/.idea

/UniversityBot/bin
/UniversityBot/obj
/UniversityBot/quiz.db

/UniversityBot.Core/bin/
/UniversityBot.Core/obj/

/UniversityBot.EF/bin/
/UniversityBot.EF/obj/

/UniversityBot.Sqlite/bin/
/UniversityBot.Sqlite/obj/

/UniversityBot.Infrastructure/bin/
/UniversityBot.Infrastructure/obj/

/UniversityBot.WPF/bin/
/UniversityBot.WPF/obj/

/UniversityBot.ServiceProvider.Configuration/bin/
/UniversityBot.ServiceProvider.Configuration/obj/

/.vs/UniversityBot
/UniversityBot.ASP/bin/
/UniversityBot.ASP/obj/
/UniversityBot.ASP/.idea/

/UniversityBot.Test/bin/
/UniversityBot.Test/obj/

/UniversityBot.Blazor/bin/
/UniversityBot.Blazor/obj/

/UniversityBot.sln.DotSettings.user
/UniversityBot.sln.DotSettings